{% extends "base.html" %}

{% block content %}
<h2>GEMS System Status</h2>
<div class="row" style="margin-top:15px;">
	<div class="col-md-4 col-sm-4">
		<div class="panel panel-default" style="padding-bottom:0">
			<table class="table">
				<tr><td><strong>Beanstalk Work Queue Ok</strong></td><td>{{beanstalk.ok}}</strong></td></tr>
				<tr><td><strong>Connected Workers</strong></td><td>{{beanstalk.workers}}</strong></td></tr>
			</table>
			
		</div>
	</div>
</div>
<code>
{{beanstalk.status}}
</code>
{% endblock %}
