{% extends "base.html" %}
{% block header %}
<!--the installed does not a header have-->
{% endblock %}
{% block headcss %}

<style>
table#eventstream-table tr:first-child td {
	background-color:#eee;
}
</style>

{% endblock %}

{% block footjs %}

<script>
	$("a#start-install").click(function(){
		$("p#start-install-wrapper").hide()
		$("div#eventstream-panel").show()
		if (!!window.EventSource) {
			console.log("init eventsource")
			
			var source = new EventSource('/install/eventstream');
			var target = $('table#eventstream-table')
			source.onmessage = function(e) {
				target.prepend(e.data)
			}
			source.addEventListener('error', function(e) {
				if (e.readyState == EventSource.CLOSED) {
					alert("The EventSource connection to the server was closed!")
				}
			}, false);
		} else {
			alert("Your browser does not support EventStream.")
		}
	});
</script>

{% endblock %}
{% block content %}
<div class="row" style="margin-top:30px;">
	<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
		
		<div class="panel panel-default">
		<div class="panel-body" style="padding-bottom:5px;">
		<h2 style="margin-top:5px;"><i class="fa fa-rocket"></i> GEMS Installer</h2>

		{% if not already_installed %}
			<p>
			This installer will attempt to set up the application when it has first 
			been installed. This includes creating data directories, user accounts, 
			and loading some default models and chunkschemes. 
			</p>
			<p>
			Once the installation has been completed, the file <code>./install/install-ok.txt</code> will be created in the data directory <code>{{config["HOME"]}}</code>. If this file exists, the installer cannot run. Either remove the file to be able to be able to rerun the installer, or delete the entire contents of the GEMS data directory, and then visit this install page again. If you've modified any 
			of the configuration files you have to <code>touch ./gems.wsgi</code> in the GEMS application directory for Apache to reload the application.
			</p>
			<p>
			<strong>Running the install script will delete and reinstall all the database tables, users, models, everything! All data in the current installation will be lost! Do not click the button if you want to keep your data.</strong>
			</p>
			<p id="start-install-wrapper">
				<a class="btn btn-primary" href="/" role="button"><i class="fa fa-close"></i> Yikes! Get me out of here!</a>
			 	<a class="btn btn-default" href="#" role="button" id="start-install"><i class="fa fa-rocket"></i> All systems are go! I know that I'm doing!</a>
			</p>
		{% else %}
			<p>
				GEMS is already installed. Remove the install file <code>{{config["HOME"]}}/install/install-ok.txt</code> to be able to reinstall the application.
			</p>
		{% endif %}
		</div>
		</div>
		<div class="panel panel-default" id="eventstream-panel" style="display:none;">
			<table class="table table-bordered" id="eventstream-table"></table>
		</div>
	</div>


</div>
{% endblock %}
