<nav class="navbar navbar-default navbar-inverse " role="navigation">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">


        <!--<li class="active"><a href="/"><i class="fa fa-flag"></i> <strong>Fieldwork France 2014</strong> <i class="fa fa-angle-right"></i> Group A</a></li>-->
        <!--<li class="active"><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>-->
        <li><a href="/"><i class="fa fa-flag"></i> Home</a></li>
        <li><a href="/admin/datasets"><i class="fa fa-database"></i> Datasets</a></li>
        <li><a href="/admin/discretization"><i class="fa fa-pie-chart"></i> Domain Discretization</a></li>
        <li><a href="/admin/processing"><i class="fa fa-gear"></i> Processing</a></li>
        <li><a href="/admin/models"><i class="fa fa-leaf"></i> Models</a></li>
        <li><a href="/admin/configuration"><i class="fa fa-wrench"></i> Configuration</a></li>
        <li><a href="/admin/status"><i class="fa fa-line-chart"></i> Status</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><i class="fa fa-flag"></i> Home</a></li>
        <li><a href="/admin/datasets"><i class="fa fa-database"></i> Datasets</a></li>
      </ul>

      	<p class="navbar-text pull-right" style="color:#aaa;">
      		<i class="fa fa-cog"></i> 
      		Running model pcrtopo
      	</p> 


    <!--</div>--><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
