[Unit]
Description=GEMS Worker

[Service]
Type=simple
User=gems
ExecStart=/var/www/gems/processing/client.py -k admin:2v2hgbXDbThWhcq7UaGHvtwmGnKyuw7M
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
