<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<title>Digital Earth</title>
		<link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="/static/lib/fontawesome/font-awesome.min.css" rel="stylesheet">

		{% block headcss %}{% endblock %}
		{% block headjs %}{% endblock %}
		<style>
			body {
				padding-top: 0px;
			}
			.navbar {
				margin-bottom:0px;
				border-radius:0px;
			}
			.navbar .container-fluid, .navbar-collapse {
			    padding-left:0;
			}
			.navbar-collapse.in {
			    padding-left:30px;
			}
			.navbar-inverse .navbar-nav>li>a {
				color:#61BDFF;
			}
			label {
				font-weight:normal;
			}
		</style>
	</head>
	<body>
	{% include "debugbar.html" %}

		{% block header %}
				{% include "header.html" %}
		{% endblock %}
		
		{% include "flashes.html" %}
		
		{% block editor %}
		{% endblock %}

		{% block modeller %}
		{% endblock %}
		
		<div class="container-fluid">
			{% block content %}{% endblock %}
		</div>

		{% block footer %}
			{% include "footer.html" %}
		{% endblock %}
		<script src="/static/lib/jquery/jquery-1.11.2.min.js"></script>
		<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
		{% block footjs %}

		{% endblock %}
	</body>
</html>


