
<nav class="navbar navbar-default navbar-inverse " role="navigation">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left" id="navbar-main">
        <!--<li><a href="/" style="padding:0;padding-left:15px;padding-top:10px;padding-bottom:10px;padding-right:15px;"><img src="/static/gfx/gems-logo-cube.png" style="border:0;height:30px;"></a></li>-->
        {% if request.path != '/' and request.path != '/user/login' %}
          <li><a href="/"><i class="fa fa-arrow-left"></i> Home</a></li>
        {% endif %}
      </ul>
      <!--
      {% if not current_user.is_anonymous() %}
        <p class="navbar-text navbar-left" style="color:#ddd;">
          Logged in as <strong>{{current_user.username}}</strong>
        </p>
      {% endif %}
      -->
        
    {% if not current_user.is_anonymous() %}
      <a href="{{url_for('user.logout')}}" class="btn btn-default navbar-btn pull-right" style="background-color:#222;border-color:#555;color:#aaa;margin-left:15px;"><i class="fa fa-close"></i> Log Out</a>
      <a href="{{url_for('site.myaccount')}}" class="btn btn-default navbar-btn pull-right" style="background-color:#222;border-color:#555;color:#aaa;margin-left:15px;"><i class="fa fa-user"></i> My Account</a>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{url_for('site.datasources')}}" style="color:#888;"><i class="fa fa-caret-right"></i> Data sources and attribution</a></li>
      <li><a href="{{url_for('site.about')}}" style="color:#888;"><i class="fa fa-caret-right"></i> About this project</a></li>
      <li><a href="{{url_for('status.home')}}" style="color:#888;"><i class="fa fa-caret-right"></i> System status</a></li>
    </ul>

  </div>
</nav>
