{% extends "base.html" %}

{% block headcss %}
	<link rel="stylesheet" href="/static/lib/leaflet/leaflet.css" />
	<style>
		div.panel-map {
			height:280px;
			display:block;
		}
	</style>
{% endblock %}
{% block footjs %}
	<script src="/static/lib/leaflet/leaflet.js"></script>
	<script type="text/javascript">
		$(document).ready(function() { 
			$("div.panel-map").each(function(){
				var el=$(this)
				var bounds=el.data("bounds").split(",").map(parseFloat)
				console.log(bounds)
				var map = L.map(el[0].id,{
					'scrollWheelZoom':true,
					'zoomControl':false,
					'minZoom':1,
					'maxZoom':20,
					'attributionControl':false,
				});
				L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
					attribution: '',
					maxZoom: 20,
					subdomains: '1234'
				}).addTo(map);

				//map.setView([51.505, -0.09], 13);
				map.fitBounds([[bounds[1],bounds[0]],[bounds[3],bounds[2]]]);

				//console.log("trying to parse:")
				//console.log(el.data("coverage"))
				//coverage_geojson=JSON.parse();
				L.geoJson(el.data("coverage"),{
				'style':{
					"color": "#e50000",
					"weight": 0,
					"opacity": 1.0,
					"fillOpacity": 0.5
				}
			}).addTo(map);
			})
		});
	</script>
{% endblock %}

{% block content %}
<br/>
<div class="row">
	{% if not discretizations %}
		<div class="panel panel-default" style="padding-bottom:0">
			<div class="panel-heading">
				<strong>Discretizations</strong>
			</div>
			<div class="panel-body">
				<p>No discretizations found! You can create the default discretizations by running <code>./manage.py creatediscretizations</code> using the management script.</p>
			</div>
		</div>
	{% else %}
		{% for columns in discretizations | slice(2) -%}
			{%- for d in columns -%}
				<div class="col-md-4 col-sm-4">
					<div class="panel panel-default" style="padding-bottom:0">
						<div class="panel-heading">
							<strong>{{d.name}}</strong>
							<span style="float:right;"></span>
						</div>
						
						<div class="panel-map" id="map-discretization-{{d.id}}" data-bounds='{{d.extent_as_bounds|safe}}' data-coverage='{{d.coverage_as_geojson|safe}}'></div>

						<div class="panel-body">
						{{d.num_of_chunks}} chunks at {{d.cellsize}}m resolution.<br/><a href="{{url_for('api.discretization_coverage',discretization_name=d.name)}}">View coverage as GeoJSON</a>.

						Bounds: {{d.extent_as_bounds}}
						</div>

					</div>
				</div>
			{%- endfor -%}
		{% endfor %}
	{% endif %}
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Create a new discretization</strong>
	</div>
	<div class="panel-body">
		<form role="form" action="" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="chunkscheme-name">Name (only alphanumeric and underscore characters)</label>
				<input type="name" name="name" class="form-control" id="chunkscheme-name" placeholder="Enter a name">
			</div>
			<div class="form-group">
				<label for="chunkscheme-name">Description</label>
				<input type="name" name="description" class="form-control" id="chunkscheme-description" placeholder="Enter a short description">
			</div>
			<div class="form-group">
				<label for="chunkscheme-resolution">Spatial resolution (m)</label>
				<input type="name" name="cellsize" class="form-control" id="chunkscheme-resolution" placeholder="Eg. 100">
			</div>
			<div class="form-group">
				<label for="chunkscheme-name">Zipped shapefile</label>
				<input type="file" name="shapefile">
			</div>
			<p>
			Please note the following before creating new discretizations:
			<ul>
				<li>Any non-alphanumeric or underscore characters are automatically removed from chunkscheme names. The name is also lowercased automatically.</li>
				<li>Only polygon features are converted to discrete units/chunks on which models are run.</li>
				<li>Try to use simple polygons with as few points as possible. This makes all the operations that need to be done on the units much easier.</li>
				<li>Choose the spatial resolution wisely! If you have chunks the size of France and use a spatial resolution of 100m things are not going to perform well.</li>
				<li>You cannot modify a discretization afterwards, so choose the parameters carefully!</li>
			</ul>
			</p>
			<button type="submit" class="btn btn-primary btn-sm">Create new domain discretization <i class="fa fa-long-arrow-right"></i></button>
		</form>
	</div>
</div>

{% endblock %}
