<nav class="navbar navbar-default navbar-inverse " role="navigation">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">

        <!--<li><a href="/"><i class="fa fa-flag"></i> Home</a></li>-->
        <li><a href="/admin/datasets"><i class="fa fa-database"></i> Datasets</a></li>
        <li><a href="/admin/discretization"><i class="fa fa-pie-chart"></i> Domain Discretization</a></li>
        <li><a href="/admin/processing"><i class="fa fa-gear"></i> Processing</a></li>
        <li><a href="/admin/models"><i class="fa fa-leaf"></i> Models</a></li>
        <!--
        <li><a href="/admin/configuration"><i class="fa fa-wrench"></i> Configuration</a></li>
        -->
        <li><a href="/admin/status"><i class="fa fa-line-chart"></i> System status</a></li>

      </ul>

      	<p class="navbar-text pull-right" style="color:#aaa;">
      		<i class="fa fa-user"></i> 
      		Hello, Administrator
      	</p> 


    <!--</div>--><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
