{% extends "base.html" %}

{% block content %}
<h2 style="text-align:center;">Processing</h2>

<div class="panel panel-default" style="padding-bottom:0">
	<div class="panel-heading">
		<i class="fa fa-cog"></i> <strong>Processing overview</strong>
	</div>
	<div class="panel-body">
		<p>
		There are currently <strong>{{stats['current-workers']}} workers </strong> connected to the system.
		</p>
	</div>
</div>

<div class="panel panel-default" style="padding-bottom:0">
	<div class="panel-heading">
		<i class="fa fa-bar-chart"></i> <strong>Recent jobs</strong>
	</div>
	
		<table class="table"><!--
		<thead>
			<tr><th>Name</th><th>Description</th><th>Resolution</th></tr>
		</thead>-->
		<tbody>
			<tr>
				<td style="padding-left:15px;">Submitted</td>
				<td>Job</td>
				<td>Configuration</td>
				<td>Job Chunks</td>
				
				<td class="text-center">Configuration</td>
				<td class="text-center">Chunks</td>
				<td class="text-center">Bbox</td>
				<!--<td class="text-center">Status</td>
				<td></td>-->
			</tr>
		{% for j in jobs %}
			<tr>
				<td style="padding-left:15px;">
					{{j.shortdate}}
				</td>
				<td><i class="fa fa-fw fa-sitemap"></i> <code><a href="/api/v1/job/{{j.uuid}}"> {{j.shortkey}}</a></code></td>
				<td><i class="fa fa-fw fa-wrench"></i> <code><a href="/api/v1/config/{{j.modelconfiguration.key}}">{{j.modelconfiguration.shortkey}}</a></code></td>
				<td>
				{% for c in j.jobchunks %}
					<p style="margin-bottom:3px;">
					{% if c.status_code == 0 %}
					<i class="fa fa-circle" style="color:#cccccc;"></i>
					{% endif %}
					{% if c.status_code == -1 %}
					<i class="fa fa-circle" style="color:#e50000;"></i>
					{% endif %}
					{% if c.status_code == 1 %}
					<i class="fa fa-circle" style="color:#15b01a;"></i>
					{% endif %}
					<code>{{loop.index}}/{{j.jobchunks_total}}</code><i class="fa fa-fw fa-angle-right" style="color:#666;"></i><code><a href="{{url_for('api.jobchunk_get_log',jobchunk_uuid=c.uuid)}}">{{c.shortkey}}</a></code> <!--<a href="{{url_for('api.jobchunk_get_log',jobchunk_uuid=c.uuid)}}">View run log</a> or <a href="{{url_for('api.jobchunk_get_package',jobchunk_uuid=c.uuid)}}">download maps package</a>.-->
					</p>
				{% endfor %}
				</td>
				<td style="vertical-align:middle;">
					<code><a href="/api/v1/job/{{j.uuid}}"> {{j.shortkey}}</a></code>
 				</td>
				<td style="vertical-align:middle;" class="text-center">

				
				</td>
				<td style="vertical-align:middle;" class="text-center">
					{{j.jobchunks_total}}

				</td>
				<td style="vertical-align:middle;" class="text-center"></td>
				<!--
				<td style="vertical-align:middle;" class="text-center">
					<a href="/api/v1/job/{{j.uuid}}" class="btn btn-sm btn-default">View details <i class="fa fa-long-arrow-right"></i></a>
				</td>
				--><!--
					{% if j.jobchunks_status == "COMPLETED" %}
						<span style="color:green"><i class="fa fa-check-circle"></i></span>
					{% endif %}
					{% if j.jobchunks_status == "FAILED" %}
						<span style="color:darkred"><i class="fa fa-minus-circle"></i></span>
					{% endif %}
					{% if j.jobchunks_status == "PROCESSING" %}
						<span style="color:orange;"><i class="fa fa-circle"></i></span>
					{% endif %}-->
			</tr>
		{% endfor %}
		</tbody>
		</table>
	
</div>

{% endblock %}
