{% extends "base.html" %}

{% block content %}
<br />

<div class="panel panel-default" style="padding-bottom:0">
	<div class="panel-heading">
		<i class="fa fa-bar-chart"></i> <strong>Recent jobs</strong>
	</div>
	{% if not jobs %}
		<div class="panel-body">
		<p>No jobs found.</p>
		</div>
	{% else %}
		<table class="table">
		<tbody>
			<tr>
				<td style="padding-left:15px;">Submitted</td>
				<td>Config Key</td>
				<td>Job</td>
				<td>Job Chunks</td>
			</tr>
		{% for j in jobs %}
			<tr>
				<td style="padding-left:15px;">
					{{j.shortdate}} {{j.user_id}}
				</td>
				<td><i class="fa fa-fw fa-wrench"></i> <code><a href="/api/v1/config/{{j.modelconfiguration.key}}">{{j.modelconfiguration.shortkey}}</a></code></td>
				<td><i class="fa fa-fw fa-sitemap"></i> <code>{{j.shortkey}} <a href="/api/v1/job/{{j.uuid}}/log">[Log]</a></code></td>
				
				<td>
				{% for c in j.jobchunks %}
					<p style="margin-bottom:3px;">
					{% if c.status_code == 0 %}
					<i class="fa fa-circle" style="color:#cccccc;"></i>
					{% endif %}
					{% if c.status_code == -1 %}
					<i class="fa fa-circle" style="color:#e50000;"></i>
					{% endif %}
					{% if c.status_code == 1 %}
					<i class="fa fa-circle" style="color:#15b01a;"></i>
					{% endif %}
					<code>{{loop.index}}/{{j.jobchunks_total}}</code><i class="fa fa-fw fa-angle-right" style="color:#666;"></i><code>{{c.shortkey}} <a href="{{url_for('api.jobchunk_log',jobchunk_uuid=c.uuid)}}">[Log]</a> </code> 
					</p>
				{% endfor %}

				

				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}
	
</div>

{% endblock %}
